<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>Next Animes</h1>
    <span class="menu-spacer"></span>
    <div class="example-fill-remaining-space">
      <a mat-button [routerLink]="'/animes'"> Animes </a>
    </div>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <a mat-list-item [routerLink]="'/accounts'"> Animes </a>
      <a mat-list-item [routerLink]="'/create-account'"> Favorites</a>
      <a mat-list-item [routerLink]="'/contacts'"> Want to watch</a>
      <a mat-list-item (click)="sidenav.toggle()" href="">Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
