.banniere-img {
  background-size: cover;
  background-position: center;
  width: auto;
  height: 30vw;
  h1 {
    position: absolute;
    right: 16px;
  }

}

.synopsis {
  max-width: 100%;
  height: auto;
  max-height: 25vw;
  overflow-x: hidden;
  text-align: justify;
}
.center-align {
  display: flex;
  justify-content: center;

}

.no-border {
  border: none;
}

.cursor-link {
  cursor: pointer;
}
.play-video {
  display:block;
  margin:auto;
  padding-top: 15%;
  font-size: 100px;
  width: 100px;
}

.chip-genres {
  text-decoration: none;
  color: black;
}
//all media queries
@media screen and (max-width: 700px) {
  .banniere-img {
    height: 50vw;
  }
}


