<div layout="column" class="anime">
<div flex class="banniere-img" style='background-image: url("https://via.placeholder.com/800")'>
<!--  <img src="https://via.placeholder.com/800" alt="img" class="banniere-img" layout-fill>-->
  <h1>An anime title</h1>
</div>
  <div flex class="status center-align">
    <span>Like ?  <button class="no-border cursor-link" (click)="updateStatusAnimeUser()"><mat-icon id="like" color="primary">favorite</mat-icon></button></span>
    <span>Watched ?  <button class="no-border cursor-link" (click)="updateStatusAnimeUser()"><mat-icon id="watched">done_outline</mat-icon></button></span>
    <span>Want to watch ?  <button class="no-border cursor-link" (click)="updateStatusAnimeUser()"><mat-icon id="want-to-watch">check_circle_outline</mat-icon></button></span>
  </div>
  <div flex class="infos">
    <h2>Genres</h2>
    <div layout="row">
      <mat-chip-list>
        <mat-chip>Papadum</mat-chip>
        <mat-chip>Papadum 2</mat-chip>
        <mat-chip>Papadum 3</mat-chip>
        <mat-chip>Papadum 4</mat-chip>
        <mat-chip>Papadum 5</mat-chip>
      </mat-chip-list>

    </div>
    <h2>Synopsis</h2>
    <p class="synopsis">aaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
    </p>
  </div>
  <div flex class="center-align">
    <button mat-raised-button color="primary">Next Anime
    <mat-icon>arrow_right_alt</mat-icon>
    </button>
  </div>
</div>
