.banniere-img {
  background-size: cover;
  width: auto;
  height: 30vw;
  h1 {
    position: absolute;
    right: 16px;
  }

}

.synopsis {
  max-width: 100%;
  height: 20vw;
  overflow-x: hidden;
  text-align: justify;
}
.center-align {
  display: flex;
  justify-content: center;

}

.no-border {
  border: none;
}

.cursor-link {
cursor: pointer;
}
//all media queries
@media screen and (max-width: 700px) {
  .banniere-img {
    height: 50vw;
  }
}


