<h2 mat-dialog-title>Recommandations</h2>

<mat-dialog-content style="overflow: inherit;">
  <mat-icon class="close link" (click)="close()">cancel</mat-icon>
  <mat-list style="padding: 0"  class="listAnimesScroll" *ngIf="animes?.length > 0">
    <a target="_blank" rel="noopener noferrer" class="link-black"  *ngFor="let anime of animes" [href]="'/animes/' + anime?.title">
      <mat-list-item class="mat-list-item item-animes " [style]="'background-image:url(' +  anime?.image + ')'">
        <div class="flex-container column center-align">
          <p class="flex-item title-list">{{anime?.title}}</p>
        </div>
      </mat-list-item>
    </a>
  </mat-list>

  <mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="reload()">Another  recommandations</button>
  </mat-dialog-actions>
</mat-dialog-content>
