/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// yt modal
.custom-modalbox {
  mat-dialog-container {
    background: transparent;
    box-shadow: none;
    color: black;

  }
  mat-dialog-content {
    overflow: hidden;
  }
}

.link {
  cursor: pointer;
}
